// Copyright 2015 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

{%- macro registerType(mapping, typepkg, pkg, type) -%}
{% if type|is_enum %}
  {{mapping}}["{{type|mojom_type_identifier}}"] = &{{typepkg}}UserDefinedTypeEnumType{
    Value: {{type|mojom_type_identifier}}(),
  }
{% elif type|is_struct %}
  {{mapping}}["{{type|mojom_type_identifier}}"] = &{{typepkg}}UserDefinedTypeStructType{
    Value: {{type|mojom_type_identifier}}(),
  }
{% elif type|is_union %}
  {{mapping}}["{{type|mojom_type_identifier}}"] = &{{typepkg}}UserDefinedTypeUnionType{
    Value: {{type|mojom_type_identifier}}(),
  }
{% elif type|is_interface %}
  {{mapping}}["{{type|mojom_type_identifier}}"] = &{{typepkg}}UserDefinedTypeInterfaceType{
    Value: {{type|mojom_type_identifier}}(),
  }
  {% for method in type.methods %}
{{registerType(mapping, typepkg, pkg, method.param_struct)}}
  {% if method.response_parameters -%}
{{registerType(mapping, typepkg, pkg, method.response_param_struct)}}
  {%- endif %}
  {%- endfor %}
{%- else -%}
  {# Simple kinds, arrays, maps, and handles do not need to be registered. #}
{%- endif -%}
{%- endmacro -%}
